# Set Operations

In [20]:
#set is a collection of unordered elements, set is a mutable
set1 = {1,2,3,4,5}
print(set1)

#union()
set2 = {4,5,6,7}
print(set1.union(set2))

#intersection()
print(set1.intersection(set2))

#difference()
print(set1.difference(set2))

#symmetric_difference
print(set1.symmetric_difference(set2))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7}

In [1]:
#arrange alphabetical order strings or charcters
a = ['b','g','q','t','v','a','h']
list1 = sorted(a)
list1

['a', 'b', 'g', 'h', 'q', 't', 'v']

In [12]:
list1 = ['banana','orange','stawberry','mango','apple']
list2 = sorted(list1)
print(list2)
list2.sort(reverse=True)
list2

['apple', 'banana', 'mango', 'orange', 'stawberry']

['stawberry', 'orange', 'mango', 'banana', 'apple']

In [1]:
num = [4,7,9,5,0,3,1]
num1 = sorted(num)
num1

[0, 1, 3, 4, 5, 7, 9]

In [5]:
num1.sort(reverse=True)
num1

[9, 7, 5, 4, 3, 1, 0]

In [2]:
for i in range(1,10):
    print(i)
    if i == 6:
        break

1
2
3
4
5
6

# Odd or Even

In [1]:
n = int(input("enter the number: "))
print("odd number")
for i in range(1,n+1):
    if i%2 != 0:
        print(i)
        
print("even number")
for i in range(1,n+1):
    if i%2 == 0:
        print(i)

enter the number: 10
odd number
1
3
5
7
9
even number
2
4
6
8
10

In [6]:
list1 = [456,8,536,7,2,73,87,0]
print(sorted(list1))
list1.sort(reverse=True)

[0, 2, 7, 8, 73, 87, 456, 536]

In [18]:
for i in range(1,10+1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [22]:
t = int(input("Enter the table:"))
n = int(input("Enter the limit:"))
for i in range(1,n+1):
    print(i, "*", t, "=", i*t)

Enter the table:5
Enter the limit:10
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [16]:
n = int(input("Enter the number: "))
for i in range(1,n+1):
    print(i)

Enter the number: 5
1
2
3
4
5

In [26]:
#find odd number and even number 
n = int(input("Enter the number:"))
print("Odd Number")
for i in range(1,n+1):
    if i%2!=0:
        print(i)
        
print("Even Number")
for i in range(1,n+1):
    if i%2==0:
        print(i)

Enter the number:10
Odd Number
1
3
5
7
9
Even Number
2
4
6
8
10

In [28]:
n = int(input("Enter the number:"))
sum = 0
for i in range(1,n+1):
    sum += i
print(sum)

Enter the number:5
15

In [2]:
i = 0
if i == 1:
    print('True')
else:
    print("False")

False

In [3]:
i = 1
while i < 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9

In [4]:
n = 5
for i in range(1, n+1):
    print(i * '*')

*
**
***
****
*****

In [5]:
my_list = [1,2,4]
my_list.insert(3,5)
print(my_list)

[1, 2, 4, 5]

In [1]:
rows = int(input("Enter the number of rows: "))
for i in range(0,rows):
    for j in range(0,rows -i -1):
        print(end = " ")
    for k in range(0,i+1):
        print("*", end =" ")
    print()

Enter the number of rows: 10
         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

# Class

In [2]:
class Person:
    def __init__(self,name,spouse,age):
        self.name = name
        self.spouse = spouse
        self.age = age
        
    def say_hello(self):
        print(f"hello my name is {self.name} and my spouse name is {self.spouse} and i am {self.age} years of old.")

# Object

In [3]:
person1 = Person("praveen","Laxmi",20)

In [4]:
# print(person1.name)
# print(person1.age)
person1.say_hello()

hello my name is praveen and my spouse name is Laxmi and i am 20 years of old.

In [9]:
class Student(Person):
    def __init__(self,name,age,student_id):
        super().__init__(name,age)
        self.student_id = student_id
        
    def say_hello(self):
        print(f"Hello, my name is {self.name}, i am {self.age} years of old, my student id id {self.student_id}.")

In [10]:
student1 = Student("Alice", 20, 20833)
# print(student1.name)
# print(student1.age)
# print(student1.student_id)
student1.say_hello()

Hello, my name is Alice, i am 20 years of old, my student id id 20833.

In [11]:
class Calculator:
    def add(self,x,y,z=0):
        return x + y + z  
    
cal = Calculator()
print(cal.add(1,2))
print(cal.add(1,4,6))

3
11

In [5]:
score = 69
if score >= 90:
    print('A grade')
elif score >= 85:
    print('B grade')
elif score >= 70:
    print('C grade')
else:
    print('fail')

fail

# Exception Handling

In [5]:
try:
    num1 = int(input('Enter a number:'))
    num2 = int(input('Enter Another number:'))
    result = num1/num2
    print('the result is', result)
except ZeroDivisionError:
    print('can not divide by zero')
except ValueError:
    print('enter valid number')

Enter a number:1
Enter Another number:0
can not divide by zero

In [14]:
string = "lavanya ramakrishnan"
dicty = {}
for i in string:
    if i in dicty:
        dicty[i] += 1
    else:
        dicty[i] = 1
print(dicty)

{'l': 1, 'a': 6, 'v': 1, 'n': 3, 'y': 1, ' ': 1, 'r': 2, 'm': 1, 'k': 1, 'i': 1, 's': 1, 'h': 1}

In [16]:
string = "gokul"
dicty = {}
for i in string:
    if i in dicty:
        dicty[i] += 1
    else:
        dicty[i] = 1
print(dicty)

{'g': 1, 'o': 1, 'k': 1, 'u': 1, 'l': 1}

In [9]:
string = ["salesforcevirtual"]
list = []
list1 = len(string)
for i in range(0,1):
    list.append(string[i])

['salesforcevirtual']

In [2]:
class Person:
    def __init__(self,name,age):
        self.name = name 
        self.age = age
        
    def say_hello(self):
        print(f"hello my name is {self.name} and i am {self.age} years of old")

In [4]:
Person1 = Person("gokul",21)

In [7]:
Person1.say_hello()

hello my name is gokul and i am 21 years of old

In [16]:
class Student(Person):
    def __init__(self,name,age,student_id):
        super().__init__(name,age)
        self.student_id = student_id
        
    def say_hello(self):
        print(f"hello my name is {self.age} and i am {self.age} years of old this my {self.student_id} number")

In [17]:
student1 = Student("gokul",21,2621)
student1.say_hello()

hello my name is 21 and i am 21 years of old this my 2621 number

# Class and Object

In [5]:
#what is class and objects it is a collection of variables and functions
#class and members-->varibales and functions
class MyClass:
    a = 100 #--->variable
    def function(self): #-->function
        print("hello world")
object = MyClass()
object.function()
print(object.a)

hello world
100

In [12]:
class MyClass:
    a = 120
    def MyFunction(self):
        print("This is class and object")
        
object = MyClass()
object.MyFunction()
number = object.a
print("Number:",number)
# print(object.a)

This is class and object
Number: 120

In [14]:
class MyClass:
    def __init__(self):
        print("Welcome to python world")
        
object=MyClass()

Welcome to python world

# Constructor

In [18]:
#what is constructor --> initiating the object or some values 
# we need not to call the contructor because it will call automatically
class Constructor:
    def __init__(self): #self is used for passing the arguments
        print("This is constructor")
        
    def function(self):
        print("This is user defind function")
object = Constructor()
object.function()

This is constructor
This is user defind function

In [21]:
class MyConstructor:
    def __init__(self,name,age,location):
        self.name = name
        self.age = age
        self.location =  location
    
    def MyDetails(self):
        print("Name:",self.name)
        print("Age:",self.age)
        print("Location:",self.location)
        
object = MyConstructor("Praveen",19,"Arakkonam")
object.MyDetails()

Name: Praveen
Age: 19
Location: Arakkonam

In [25]:
class Addition:
    def __init__(self,a,b):
        self.a = a
        self.b = b
        
    def add(self):
        c = self.a + self.b
        print("Sum:",c)
        
object = Addition(10,40)
object.add()

Sum: 50

# Function overloading

In [31]:
#function oveloading or method overloading is ability of create multiple function on same name with diff implemetations
class Overloading:
    def Myfun(self,a=None,b=None,c=None):
        if a!=None and b!=None and c!=None:
            return a+b+c
        
        elif a!=None and b!=None:
            return a+b
        
        else:
            return a
        
object = Overloading()
print("Addition:",object.Myfun(10,36,34))

Addition: 80

In [35]:
#in function overloading if we wanna pass multiple arguments we have to use *args function
class Overloading:
    def fun(self,*args):
        sum = 0
        for i in args:
            sum += i
        print("Sum:",sum)
            
object = Overloading()
object.fun(56,56,54,20,89,66)

Sum: 341

# Method or function overriding

In [7]:
class sam:
    def project(self):
        print("Car management system")
        
class ram(sam):
    def project(self):
        super().project()
        print("Accounting managements system")
        
class gokul(ram):
    def project(self):
        super().project()
        print("Airport management system")
        
object = gokul()
object.project()

Car management system
Accounting managements system
Airport management system



# Polymorphism

In [ ]:
#polymorphism having same function but working with diff diff arguments

# Nested if condition

In [15]:
""""
if(condition):
   if(condition):
     statement-1
     
   else:
       statement-2
        
else:
    statement-3 
""""

SyntaxError: EOL while scanning string literal (28452612.py, line 11)

In [3]:
def state():
    a = int(input("Enter A values: "))
    b = int(input("Enter B value: "))
    if a!=b:
        print("A value in not equal to B value")
        if a>b:
            print("A is grater than B")
        else:
            print("B is grater than A")
    else:
        print("A value is equla to B value")
state()

Enter A values: 5
Enter B value: 6
A value in not equal to B value
B is grater than A

# Stack

In [21]:
stack = []

def empty():
    if len(stack) == 0:
        print('stack is empty')
    else:
        print('stack')
        
val1 = 1
val2 = 2
val3 = 3
empty()
stack.append(val1)
stack.append(val2)
stack.append(val3)
empty()
a = stack.pop()
b = stack.pop()
c = stack.pop()
print('The poped elements are: ',a,b,c)
empty()

stack is empty
stack
The poped elements are:  3 2 1
stack is empty

In [4]:
my_list = ['sunday','monday','tuesday','wednesday','thursday','friday','saturday']
my_stack = []
print(my_list)

#adding elements in stack
for i in range(0,len(my_list)):
    my_stack.append(my_list[i])
    print(my_stack)
    
#removing elements from stack
for i in range(0,len(my_list)):
    my_stack.pop()
    print(my_stack)

['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
['sunday']
['sunday', 'monday']
['sunday', 'monday', 'tuesday']
['sunday', 'monday', 'tuesday', 'wednesday']
['sunday', 'monday', 'tuesday', 'wednesday', 'thursday']
['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday']
['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday']
['sunday', 'monday', 'tuesday', 'wednesday', 'thursday']
['sunday', 'monday', 'tuesday', 'wednesday']
['sunday', 'monday', 'tuesday']
['sunday', 'monday']
['sunday']
[]

In [7]:
my_stack = [1,2,3,4,5,6,7,8,9,20]
def update(data, value):
    for i in range(0,len(my_stack)):
        if my_stack[i] == data:
            my_stack[i] = value
            return my_stack
update(20,10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
x = 100
y = 75
if x>y:
    print("pass")
else:
    print("fail")

pass

# Tree Traversal

In [1]:
#tree traversal 
#in oreder tree
class Node:
    def __init__(self,val):
        self.childleft = None
        self.childright = None
        self.nodedata = val
        
root = Node(1)
root.childleft = Node(2)
root.childright = Node(3)
root.childleft.childleft = Node(4)
root.childleft.childright = Node(5)

# In Order Tree

In [2]:
def InOrd(root):
    if root:
        InOrd(root.childleft)
        print(root.nodedata)
        InOrd(root.childright)
InOrd(root)

4
2
5
1
3

# Pre Order Tree

In [35]:
#preorder tree
def PreOrd(root):
    if root:
        print(root.nodedata)
        PreOrd(root.childleft)
        PreOrd(root.childright)
PreOrd(root)

1
2
4
5
3

# Post Order

In [ ]:
#post order traversal
def PostOrd(root):
    if root:
        PostOrd(root.childleft)
        PostOrd(root.childright)
        print(root.nodedata)
PostOrd(root)

# Linear search

In [39]:
#linear search
def lin_search(myarray, n, key):
    for i in range(0,n):
        if(myarray[i] == key):
            return i
    return -i

myarray = [12,56,26,67,27]
key = 26
n = len(myarray)
matched = lin_search(myarray, n, key)
if(matched == -1):
    print("Key is not present")
else:
    print("key present in index no", matched)

key present in index no 2

In [2]:
def twoSum(nums, target):
    seen = {}
    for i, num in enumerate(nums):
        complement = target - num
        if complement in seen:
            return [seen[complement], i]
        seen[num] = i
    return []

nums = [2, 7, 11, 15]
target = 17

result = twoSum(nums, target)
print(result)

[0, 3]

# GRAPHS

In [ ]:
#graph is non linear data structure, it is hierarchical data that is consist nodes and edges
#nodes contains vertex or data points
#edges connect the nodes and vertices togeather

In [3]:
class Company:
    def __init__(self,total,sold,instack):
        self.total = total
        self.sold = sold
        self.instack = instack
        
    def details(self):
        print(f'Totally {self.total} laptops, {self.sold} are sold, reminder {self.instack} are there')

In [4]:
obj = Company(100,60,40)
obj.details()

Totally 100 laptops, 60 are sold, reminder 40 are there

In [16]:
def hello():
    print("Hello World")
hello()

Hello World

In [8]:
def say_hello():
    a = int(input("Enter Number: "))
    if a>2:
        print("True")
    else:
        print("False")
say_hello()

Enter Number: 1
False

In [1]:
rows = int(input("Enter a number of rows: "))
print("Pyramid Start Pattern")
for i in range(0, rows):
    for j in range(0, rows -i -1):
        print(end = " ")
    for k in range(0, i + 1):
        print("*", end = " ")
    print()

Enter a number of rows: 6
Pyramid Start Pattern
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *